<!DOCTYPE html>
<html>
<head>
  <title>EnrollmentControl</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="/alunos">Alunos</a></li>
          <li><a href="/cursos">Cursos</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Matrículas <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/matriculas">Listagem</a></li>
              <li><a href="/pagamentos">Pagamento</a></li>
              <li><a href="/cancelamentos">Cancelamento</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
